<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<!-- author: Maria Berenice Garcia Gutierrez -->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      </ion-avatar>
      <ion-card-title>{{ username }}</ion-card-title>
      <ion-card-subtitle>{{ email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Rol:</strong> {{ role }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
