.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
  }
  
  .loading-box {
    text-align: center;
  }
  
  p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  